body {
    background-color: rgb(249, 219, 255);
}
.candace {
    display: block;  
    margin: 0 auto; 
    margin-top: 150px;
    filter: drop-shadow(0 4px 10px rgb(192, 72, 148));
}
@media(max-width:760px){
body {
    background-color: rgb(249, 219, 255);
   }
}